[submodule "source/_posts"]
	path = source/_posts
	url = https://gitee.com/wencaizhang_admin/articles.git
[submodule "themes/hexo-theme"]
	path = themes/hexo-theme
	url = https://gitee.com/wencaizhang/hexo-theme-wikitten.git
